body {
    background-color: lightskyblue;
  }
  
  .centro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 10%;
  }
  
  .formulario-container {
    background-color: darkblue;
    color: white;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
    width: 100%;
    max-width: 500px;
  }
  
  .formulario-container button {
    background-color: lightskyblue;
    color: white;
    border: none;
  }
  